In [ ]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [2]:
retaildata = spark.read.option("inferSchema","true").option("header","true").csv("online-retail-dataset.csv")
retaildata.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

In [3]:
from pyspark.sql.functions import sum 
retail_selection = retaildata.select("Country","StockCode", "Quantity")
retail_selection = retail_selection.groupBy("StockCode", "Country").agg(sum("Quantity").alias("Quantity_total"))
retail_selection.show()

+---------+--------------+--------------+
|StockCode|       Country|Quantity_total|
+---------+--------------+--------------+
|    22154|United Kingdom|          3646|
|    22478|United Kingdom|          1423|
|    22844|United Kingdom|           916|
|    21788|United Kingdom|           867|
|    22042|United Kingdom|           190|
|    22539|        France|           312|
|    85078|         Italy|            24|
|   85034C|         Italy|             4|
|    22389|United Kingdom|           202|
|    85087|United Kingdom|           304|
|   35809A|United Kingdom|           291|
|    84821|United Kingdom|           821|
|    22837|         Spain|            16|
|    21030|        Cyprus|            10|
|    84992|        Sweden|           240|
|    22713|   Switzerland|            12|
|    21989|       Belgium|            36|
|    21080|       Germany|           385|
|   84661C|United Kingdom|            71|
|   82613D|        Cyprus|            20|
+---------+--------------+--------------+
only showing top 20 rows

In [4]:
#slice Operation
from pyspark.sql.functions import col
retail_slice = retail_selection.where(col("Country") == "United Kingdom")
retail_slice.show()

#slice = datacube.where(col("Country") == "United States")

+---------+--------------+--------------+
|StockCode|       Country|Quantity_total|
+---------+--------------+--------------+
|    22154|United Kingdom|          3646|
|    22478|United Kingdom|          1423|
|    22844|United Kingdom|           916|
|    21788|United Kingdom|           867|
|    22042|United Kingdom|           190|
|    22389|United Kingdom|           202|
|    85087|United Kingdom|           304|
|   35809A|United Kingdom|           291|
|    84821|United Kingdom|           821|
|   84661C|United Kingdom|            71|
|    90157|United Kingdom|            10|
|   84984D|United Kingdom|            13|
|    23326|United Kingdom|          2435|
|    47016|United Kingdom|             2|
|    22768|United Kingdom|           807|
|    16238|United Kingdom|          1113|
|    22916|United Kingdom|          1667|
|    21704|United Kingdom|          4743|
|        M|United Kingdom|          3662|
|   35271S|United Kingdom|             6|
+---------+--------------+--------------+
only showing top 20 rows

In [5]:
#Dice Operation
retail_dice = retail_selection.where((col("Country") == "United Kingdom") | (col("Country") == "USA")).where((col("Quantity_total") == 0) | (col("Quantity_total") == "1"))
retail_dice.show()

#dice = datacube.where(((col("Country") == "United States") | (col("Country") == "United Kingdom")) & (col("Quantity") == 0))

+---------+--------------+--------------+
|StockCode|       Country|Quantity_total|
+---------+--------------+--------------+
|    21577|           USA|             0|
|   84706D|United Kingdom|             1|
|    21763|United Kingdom|             0|
|    21054|United Kingdom|             1|
|    23843|United Kingdom|             0|
|    22016|United Kingdom|             1|
|    22050|           USA|             0|
|   72802c|United Kingdom|             1|
|    23602|United Kingdom|             1|
|   90187A|United Kingdom|             1|
|   46776b|United Kingdom|             1|
|    21668|           USA|             0|
|    21669|           USA|             0|
|   90060B|United Kingdom|             1|
|   84031b|United Kingdom|             1|
|   35597B|United Kingdom|             1|
|    72815|United Kingdom|             0|
|    22649|           USA|             0|
|    21058|           USA|             0|
|   90126A|United Kingdom|             1|
+---------+--------------+--------------+
only showing top 20 rows

In [7]:
#Pivot Operation. We will make a new column for every country
retail_pivot = retaildata.groupBy("StockCode").pivot("Country").agg(sum("Quantity"))
retail_pivot.show()


#How many instances of each product were sold ineach country?
retail_pivot_2 = retaildata.groupBy("StockCode").pivot("Country").agg(sum("Quantity")).orderBy("StockCode")
retail_pivot_2.show()

#retail_data.groupBy("StockCode").pivot("Country").sum("Quantity").show()

+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|StockCode|Australia|Austria|Bahrain|Belgium|Brazil|Canada|Channel Islands|Cyprus|Czech Republic|Denmark|EIRE|European Community|Finland|France|Germany|Greece|Hong Kong|Iceland|Israel|Italy|Japan|Lebanon|Lithuania|Malta|Netherlands|Norway|Poland|Portugal| RSA|Saudi Arabia|Singapore|Spain|Sweden|Switzerland| USA|United Arab Emirates|United Kingdom|Unspecified|
+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|    21249|       96|   null|   null|     12|  null|  null|           null|  null|          null|   null|  12|              null|     24|    54|    108|  null|        6|   null|    30|   48| null|   null|     null| null|        120|    18|  null|    null|null|        null|     null|   12|  null|         24|null|                null|           160|       null|
|    23318|        6|      6|   null|   null|  null|  null|           null|  null|          null|   null| 259|              null|   null|    82|     54|  null|     null|   null|  null| null| null|   null|     null| null|          6|  null|  null|       6|null|        null|     null| null|     6|         12|null|                   6|          3182|         18|
|    22596|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  36|              null|   null|    36|     23|  null|     null|   null|  null| null| null|   null|     null| null|       null|    12|  null|    null|null|        null|       48| null|  null|          3|null|                null|          3319|       null|
|    23843|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|             0|       null|
|    21452|     null|   null|   null|     30|  null|  null|              6|  null|          null|      6|   6|              null|   null|    71|     75|  null|     null|   null|  null| null|   44|   null|     null| null|         96|  null|  null|    null|null|        null|     null|    6|     6|          6|null|                null|           437|       null|
|    22254|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  12|              null|   null|    24|     24|  null|     null|   null|  null| null| null|   null|     null| null|        204|  null|    24|    null|null|        null|     null| null|  null|         12|null|                null|           357|       null|
|    22728|       58|   null|   null|     40|  null|  null|              4|     4|          null|    106| 240|              null|   null|   362|    280|  null|     null|     16|     4| null| null|   null|     null| null|          1|    24|     4|    null|null|        null|     null|   28|  null|         16|null|                null|          4136|       null|
|    21248|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|     4|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|    24|  null|    null|null|        null|     null|    2|  null|       null|null|                null|           156|       null|
|   85132b|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|             9|       null|
|    21259|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  28|              null|   null|     3|      2|  null|     null|   null|  null| null|   72|   null|     null| null|       null|  null|  null|       4|null|        null|     null| null|  null|       null|null|                null|          1008|       null|
|    21889|     null|   null|   null|     24|  null|  null|           null|  null|          null|   null| 288|              null|   null|   144|    108|  null|     null|   null|  null| null| null|   null|     null| null|       null|    12|  null|      36|  12|        null|     null|   48|   588|         12|null|                null|          5081|         24|
|   90197B|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            35|       null|
|    21894|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  24|              null|   null|    12|     24|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           497|       null|
|    20868|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|       4|null|        null|     null| null|  null|       null|null|                null|           441|         13|
|    22121|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  15|              null|   null|     6|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|       12| null|  null|       null|null|                null|           272|       null|
|   90177A|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|   0|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|             8|       null|
|    90022|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|   0|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            20|       null|
|   90026D|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|             3|       null|
|    23459|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|      2|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            28|       null|
|    90143|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            31|       null|
+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
only showing top 20 rows

+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|StockCode|Australia|Austria|Bahrain|Belgium|Brazil|Canada|Channel Islands|Cyprus|Czech Republic|Denmark|EIRE|European Community|Finland|France|Germany|Greece|Hong Kong|Iceland|Israel|Italy|Japan|Lebanon|Lithuania|Malta|Netherlands|Norway|Poland|Portugal| RSA|Saudi Arabia|Singapore|Spain|Sweden|Switzerland| USA|United Arab Emirates|United Kingdom|Unspecified|
+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|    10002|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  12|              null|   null|   372|      1|  null|     null|   null|  null| null|    1|   null|     null| null|       null|  null|  null|    null|null|        null|     null|   24|  null|         12|null|                null|           615|       null|
|    10080|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           495|       null|
|    10120|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|    10|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           183|       null|
|   10123C|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           -13|       null|
|   10123G|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           -38|       null|
|   10124A|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            16|       null|
|   10124G|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|            17|       null|
|    10125|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|   470|    120|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|         20|null|                null|           686|       null|
|    10133|     null|   null|   null|   null|  null|    40|           null|  null|          null|   null|  40|              null|   null|  null|   null|  null|     null|   null|    20| null| null|   null|     null| null|       null|  null|  null|      20|null|        null|     null| null|  null|         10|null|                null|          2645|       null|
|    10134|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           -19|       null|
|    10135|     null|   null|   null|   null|  null|    20|           null|  null|          null|   null|  60|              null|   null|    10|    200|  null|     null|   null|  null| null| null|   null|     null| null|       null|    10|  null|    null|null|        null|     null| null|  null|       null|null|                null|          1930|       null|
|    11001|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  48|              null|   null|    16|     32|  null|     null|   null|  null| null| null|   null|     null| null|       null|    16|  null|      16|null|        null|     null|   16|  null|       null|null|                null|          1254|         32|
|    15030|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           293|       null|
|    15034|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|     24|    24|     null|   null|  null| null| null|   null|     null| null|       null|   120|  null|    null|null|        null|     null|   24|  null|       null|null|                null|          5014|       null|
|    15036|      600|   null|   null|   null|  null|  null|           null|  null|          null|     12|  48|              null|   null|    60|   1164|  null|     null|   null|  null|   12| null|   null|     null| null|         12|    48|  null|    null|null|        null|     null| null|   804|       null|null|                null|         19792|       null|
|    15039|     null|   null|   null|     10|  null|  null|           null|  null|          null|   null|null|              null|   null|    10|      1|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          2044|       null|
|   15044A|     null|   null|   null|   null|  null|     6|           null|  null|          null|   null|null|              null|   null|  null|     30|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           427|       null|
|   15044B|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|     12|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|    6|  null|       null|null|                null|           275|       null|
|   15044C|     null|   null|   null|   null|  null|     6|           null|  null|          null|   null|null|              null|   null|     6|   null|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|           299|       null|
|   15044D|     null|   null|   null|   null|  null|     6|           null|  null|          null|   null|   6|              null|   null|  null|     18|  null|     null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|    6|  null|       null|null|                null|           607|       null|
+---------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+---------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
only showing top 20 rows

In [8]:
#Rollup. Divide the quantity to +ve and -ve
retail_rollUp = retail_selection.select("StockCode","Country",(col("Quantity_total") > 0).alias("positive_quantity"))
retail_rollUp.show()
#roll_up = datacube.rollup("Stock Code", "Country, (col("Quantity") > 0).alias("positive quantity")

+---------+--------------+-----------------+
|StockCode|       Country|positive_quantity|
+---------+--------------+-----------------+
|    22154|United Kingdom|             true|
|    22478|United Kingdom|             true|
|    22844|United Kingdom|             true|
|    21788|United Kingdom|             true|
|    22042|United Kingdom|             true|
|    22539|        France|             true|
|    85078|         Italy|             true|
|   85034C|         Italy|             true|
|    22389|United Kingdom|             true|
|    85087|United Kingdom|             true|
|   35809A|United Kingdom|             true|
|    84821|United Kingdom|             true|
|    22837|         Spain|             true|
|    21030|        Cyprus|             true|
|    84992|        Sweden|             true|
|    22713|   Switzerland|             true|
|    21989|       Belgium|             true|
|    21080|       Germany|             true|
|   84661C|United Kingdom|             true|
|   82613D|        Cyprus|             true|
+---------+--------------+-----------------+
only showing top 20 rows

In [ ]:
#Drill Down. D

# Create a datacube that allows answering the following questions:
How many breakdowns occurred in total?
How many breakdowns occurred in each town in total?
How many breakdowns occurred in each route number in total?
How many breakdowns occurred in each town per year?
How many breakdowns occurred in each route number per year?
It is normal if the resulting table can answer more questions than the above-mentioned.

In [9]:
busbreakdownData = spark.read.option("inferSchema","true").option("header","true").csv("busbreakdownData.csv")
busbreakdownData.show()

+-----------+---------------+--------+------+------------+---------------+----------------+------+
|School year|Busbreakdown_ID|Run_Type|Bus_No|Route_Number|School_Serviced|     Occurred_On|  Town|
+-----------+---------------+--------+------+------------+---------------+----------------+------+
|       2010|          45345|      43|     1|           4|            dfg|12-01-2010 08:26|Bhopal|
|       2012|           5756|       4|     2|           5|           dgdf|12-02-2010 08:26|Mumbai|
|       2020|            223|      43|     3|           6|           dgdf|12-01-2011 08:26|  Bang|
+-----------+---------------+--------+------+------------+---------------+----------------+------+

In [18]:
datacube = busbreakdownData.select("Busbreakdown_ID","Town", "Route_Number","School year")
from pyspark.sql.functions import sum,count

In [19]:
#How many breakdowns occurred in total?
datacube.agg(count("Busbreakdown_ID")).show()

+----------------------+
|count(Busbreakdown_ID)|
+----------------------+
|                     3|
+----------------------+

In [26]:
#How many breakdowns occurred in each town in total?
datacube.groupBy("Town").agg(count("Busbreakdown_ID")).show()

+------+----------------------+
|  Town|count(Busbreakdown_ID)|
+------+----------------------+
|Mumbai|                     1|
|  Bang|                     1|
|Bhopal|                     1|
+------+----------------------+

In [27]:
#How many breakdowns occurred in each route number in total?
datacube.groupBy("Town").agg(count("Busbreakdown_ID")).show()

+------+----------------------+
|  Town|count(Busbreakdown_ID)|
+------+----------------------+
|Mumbai|                     1|
|  Bang|                     1|
|Bhopal|                     1|
+------+----------------------+

In [28]:
How many breakdowns occurred in each town per year?

retaildata_cube = retaildata.cube("Town","School year").groupBy("Town").agg(count("Busbreakdown_ID")).show()

Object `year` not found.

AttributeError: 'GroupedData' object has no attribute 'groupBy'

In [ ]:
#How many breakdowns occurred in each route number per year?
retaildata.cube("name", df.age).count().orderBy("name", "age").show()

In [37]:
datacube.cube("Town", "School year", "Route_Number")\
            .count()\
            .withColumnRenamed("count(Busbreakdown_ID)", "Count")\
            .orderBy("School year", "Town","Route_Number")\
            .show()

+------+-----------+------------+-----+
|  Town|School year|Route_Number|count|
+------+-----------+------------+-----+
|  null|       null|        null|    3|
|  null|       null|           4|    1|
|  null|       null|           5|    1|
|  null|       null|           6|    1|
|  Bang|       null|        null|    1|
|  Bang|       null|           6|    1|
|Bhopal|       null|        null|    1|
|Bhopal|       null|           4|    1|
|Mumbai|       null|        null|    1|
|Mumbai|       null|           5|    1|
|  null|       2010|        null|    1|
|  null|       2010|           4|    1|
|Bhopal|       2010|        null|    1|
|Bhopal|       2010|           4|    1|
|  null|       2012|        null|    1|
|  null|       2012|           5|    1|
|Mumbai|       2012|        null|    1|
|Mumbai|       2012|           5|    1|
|  null|       2020|        null|    1|
|  null|       2020|           6|    1|
+------+-----------+------------+-----+
only showing top 20 rows

In [39]:
datacube.cube("Town", "School year", "Route_Number")\
            .count()\
            .orderBy("School year", "Town","Route_Number")\
            .show()

+------+-----------+------------+-----+
|  Town|School year|Route_Number|count|
+------+-----------+------------+-----+
|  null|       null|        null|    3|
|  null|       null|           4|    1|
|  null|       null|           5|    1|
|  null|       null|           6|    1|
|  Bang|       null|        null|    1|
|  Bang|       null|           6|    1|
|Bhopal|       null|        null|    1|
|Bhopal|       null|           4|    1|
|Mumbai|       null|        null|    1|
|Mumbai|       null|           5|    1|
|  null|       2010|        null|    1|
|  null|       2010|           4|    1|
|Bhopal|       2010|        null|    1|
|Bhopal|       2010|           4|    1|
|  null|       2012|        null|    1|
|  null|       2012|           5|    1|
|Mumbai|       2012|        null|    1|
|Mumbai|       2012|           5|    1|
|  null|       2020|        null|    1|
|  null|       2020|           6|    1|
+------+-----------+------------+-----+
only showing top 20 rows